@model IEnumerable<CESI_CSharp_TPChocolatine.Models.Region>

@{
    ViewData["Title"] = "Régions > Liste des régions";
}

<h1>Régions</h1>

<p>
    <a asp-action="Create">Ajouter une nouvelle région</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom de la région
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
