@model CESI_CSharp_TPChocolatine.Models.UserEditModel

@{
    ViewData["Title"] = "Utilisateurs > Modifier un utilisateur";

    var regionsList = Model.AllRegions.Select(x => new SelectListItem
    {
        Text = x.Value.ToString(),
        Value = x.Key.ToString()
    });
}

<h1>Utilisateurs</h1>

<h4>Modifier un utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Nom</label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Prénom</label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label">Région</label>
                <select class="form-control" asp-for="RegionId" required
                        asp-items="regionsList">
                    <option value="">(Sélectionnez une région...)</option>
                </select>
                <span class="form-text" asp-validation-for="RegionId"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer les modifications" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Revenir à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
