@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue !</h1>
    <p>Utilisez le menu ci-dessus pour voir la liste des régions et des expressions. Vous pouvez accéder à la rubrique "Voter" pour soutenir votre expression régionale favorite !</p>
</div>
